{% extends 'layouts/admin_base.html' %}

{% block admin_content %}

<h2>Products</h2>

<a href="{% url 'add_product' %}" class="btn btn-success mb-3">
    Add Product
</a>

<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>Name</th>
            <th>SKU</th>
            <th>Category</th>
            <th>Stock</th>
            <th>Selling Price</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.sku }}</td>

            <!-- Category -->
            <td>{{ product.category.name|default:"No Category" }}</td>

            <!-- Stock with alert -->
            <td>
                {% if product.stock <= product.low_stock_threshold %}
                    <span class="text-danger fw-bold">
                        {{ product.stock }} (Low)
                    </span>
                {% else %}
                    {{ product.stock }}
                {% endif %}
            </td>

            <td>₹{{ product.selling_price }}</td>

            <!-- Actions -->
            <td>
                <a href="{% url 'edit_product' product.id %}" class="btn btn-warning btn-sm">
                    Edit
                </a>

                <a href="{% url 'delete_product' product.id %}" class="btn btn-danger btn-sm">
                    Delete
                </a>

                <a href="{% url 'update_stock' product.id %}" class="btn btn-info btn-sm">
                    Stock
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="6" class="text-center">No products found</td>
        </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}